

.searchInputWrapper {
    position: relative;
    margin-bottom: 20px;
    .searchInput {
        border: 1px solid #fff;
        color: inherit;
        padding: 8px 16px;
        border-radius: 8px;
    }
}

