.moviePage {
    padding: 100px 0;

    &__content {
        max-width: 1000px;
        margin: 0 auto;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__poster {
        height: 800px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    &__genres {
        display: flex;
        align-items: center;
        gap: 12px;
        opacity: 0.3;
    }
}
